
＃先决条件
* .d

＃目标文件
* .o
* .ko
* .obj
* .elf

＃链接器输出
* .ilk
* .map
* .exp

＃预编译头
* .gch
* .pch

＃图书馆
* .lib
* .a
* .la
* .lo

＃共享对象（包括Windows DLL）
* .dll
* .so
* .so。*
* .dylib

＃可执行文件
* .exe
* .out
* .app
* .i * 86
* .x86_64
* .hex

＃调试文件
* .dSYM /
* .su
* .idb
* .pdb

＃内核模块编译结果
* .mod *
* .cmd
.tmp_versions /
模块顺序
模块符号
Mkfile.old
dkms.conf
